<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Explore N Shoot </title>
    <link href="../bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="../css/index.css" />
</head>
<body>
    <div class="opacity_filter">
        <div class="text-center"><h3>Explore</h3></div>
        <div id='container'>
            <div class='searchIt'>
             <form method="post" action="/post">
                 <input type='text' placeholder='Tag : Garden, Street...' id="tag" name="tag" />
                 <input type='text' placeholder='Location' id="location" name="location" />
                 <button class="btn btn-submit" value='submit' placeholder='Search'>Search</button>
             </form>
         </div>
         <div class='why'>
            <h1>Find awesome spots</h1>
            <p>Explore is a web application to find the best spots to photography. It generate itinerate to explore a city.</p>
        </div>
    </div>
</div>
<script type="text/javascript" src=".../app.js"></script>
</body>
</html>